Reject bogus unhashed subpackets

According to [RFC 4880 §5.2.3]:

> There are two fields consisting of Signature subpackets.  The first
> field is hashed with the rest of the signature data, while the second
> is unhashed.  The second set of subpackets is not cryptographically
> protected by the signature and should include only advisory
> information.

In practice, there are two types of unhashed subpackets that I have seen in the wild:

1. Key ID subpackets.  These are checked against the public key during signature verification.
2. Embedded signature subpackets.  I have only seen these in subkey binding signatures.

Therefore, RPM can safely reject signatures that have any unhashed subpackets other than the key ID.  In the future, RPM may rely on information in subpackets for security, so it is safer to start rejecting bogus unhashed subpackets now.

[RFC 4880 §5.2.3]: https://datatracker.ietf.org/doc/html/rfc4880.html#section-5.2.3

What you have seen in the wild does not reflect what may legitimately be there in the future.
Rejecting everything you don't know about is not the way to deal with open, evolving standards.